*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'san-serif';

}

.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height:  100vh;
    flex-direction: column;
    background-color: rgb(26,43,51)

}

td{
 
 width: 100px;
 height: 100px;
  text-align: center; 
  margin-bottom: 40px;

  border-radius: 28px;
  background: #1e3640;

}

.players{
    display: flex;
    gap: 3px; 
    padding-bottom: 4px;
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    padding-bottom: 23px;

    color: #A8BFC9;
}

p{
   font-size: 72px ; 
   font-weight: bold;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.button{
    padding: 3px;
    border-radius: 30px;

}
#win{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #A8BFC9;
}
#player1, #player2{
    margin-top: 20px;
    font-size:24px;
    background-color: #30C5BE;
    border-radius: 8px;
    padding: 6px;
}

.X{
color: rgb(242,178,56);

}
.O{
    color: rgb(48,196,190)
    
    }

.reset{
    padding: 3px;
    border-radius: 30px;
}